.fc-features {
    background: #fff;
}

.fc-features-box {
    text-align: center;
}


.fc-features-box > .fc-features-icon {
    font-size: 4.5em;
    color: #6BD83A;
    padding: 0 0 20px 0;
    transition: all 0.3s ease-in-out
}

.fc-features-box:hover > .fc-features-icon {
    /*color: #d0dde0;*/
    transform: scale(1.2);
}

.fc-features-box > h5 {
    font-family: 'Lora';
    font-size: 1.9em;
    letter-spacing: 1px;
    padding: 0 0 10px 0;
}

.fc-features-box  button {
    margin-top:15px;
    background: #5cb933;
}

@media (max-width: 767px) {
    .fc-features-box {
        padding: 0 0 20px 0;
    }
}

/*---------------------------------*/
.fc-section-title {

}

.fc-section-title h2 {
    font-family: 'Lora', serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-align: center;
    padding: 80px 0 0 0;
}

.fc-section-title h3 {
    font-size: 1.3em;
    letter-spacing: 3px;
    text-align: center;
    color: #777;
    padding: 0 0 80px 0;
}

/*---------------- GLOBAL STYLES -----------------------*/

body {
    font-family: 'Lato', Helvetica, Arial, SansSerif, sans-serif;
    font-size: 1.4em;
    color: #222;
}

section {
    padding-bottom: 80px;
}

/*------------------- back to top -----------------------------*/

/* div as container to allow transition */
#backToTop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 60px;
    width: 60px;
}

#backToTop a{
    display:block;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(63, 238, 37, 0.5);
    border-radius: 5px;
    color:#fff;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#backToTop a:hover {
    display: block;
    background-color: rgba(63, 238, 37, 0.9);
}

#backToTop a span {
    display: block;
    font-size: 30px;
    line-height: 30px;
    position:absolute;
    top: 47%; /* vertical centered chevron*/
    left:50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
   #backToTop{
       bottom:15px;
       right: 15px;
       height: 40px;
       width: 40px;
   }
}

/*----------- Team Animated images -------------------*/

.team-section1 .middle-side .content{
    position:relative;
}
.team-section1 .middle-side .content img{
    position:relative;
    z-index: 10;
}



.team-section1 .team-underimage{
    height: 238px;
    width: 238px;
    border-radius: 200px;
    background: #fcfcfc;
    position:absolute;
    z-index: 9;
    left:50%;
    transform: translate(-50%,-4px);
}


@keyframes teamanimate {
    0% {
        opacity:0;
        transform: rotate(180deg) scale(0.5) translate(0px);
    }
    100% {
        opacity:1;
        transform: rotate(360deg) scale(1) translate(0px);
    }
}

.team-anime img{
    animation-name: teamanimate;
    animation-duration: 0.5s; /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: normal; /* or: normal */
    animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 0s; /* or: Xms */
}
