.footer-green-bar {
    width: 100%;
    height: 50px;
    background: #6BD83A;
}

.footer-dark {
    width: 100%;
    height: 20em;
    background: #2A2D34;
    position: relative;
}

.footer-logo img {
    width: 10em;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.footer-logo p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%);
}

.footer-socials {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, 90%);
}

.footer-gplay img {
    width: 10em;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 90%);
    display: none;
}

.content-2 p {
    margin: 2em 0 3em;
}

.content-2 img {
    margin-bottom: 3em;
    width: 100%;
    border-radius: 8em;
}

@media (max-width: 400px) {
    .footer-logo p {
        font-size: 0.75em;
    }
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
    margin: 0;
    font-size: 2.8em;
    color: #6BD83A;
    padding: 0 5px;
}

/*---------------------------------*/

.fc-section-title h2 {
    font-family: 'Lora', serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-align: center;
    padding: 80px 0 0 0;
}

.fc-section-title h3 {
    font-size: 1.3em;
    letter-spacing: 3px;
    text-align: center;
    color: #777;
    padding: 0 0 80px 0;
}