.slideshow-full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: none;
}
.carousel-caption h1{
    font-size: 4.8em;
    min-height: 150px;
    overflow:hidden;
    color:#fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-family: 'Lora', serif;
}

.carousel-caption button{
    /* your custom styles for button*/
}

@media (max-width: 638px) {
    .carousel-caption h1{
        font-size: 3.8em;
        min-height: 130px;
    }
}
@media (max-width: 478px) {
    .carousel-caption h1{
        font-size: 2.8em;
        min-height: 100px;
    }
}

/* Animated scroll-down icon, to help users understanding there's some content below ;) */
.scroll-down-link{
    position: absolute;
    bottom:10px;
    left:50%;
    width:40px;
    margin-left:-20px;
    font-size: 4rem;
    z-index: 100;
    animation: jump 1.5s ease-in-out 0s infinite normal;
}
.scroll-down-link a{
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    color: #6BD83A;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.scroll-down-link a:hover{
    opacity: 1;
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}



.team-section1 img {
    height: 230px;
    width: auto;
    border-radius: 200px;
}


.team-section1 {
    background-color: #ECF3F5;

}

.team-section1 a {
    text-decoration: none;
    color: black;

}

.icon-user {
    color: #6BD83A;
}

.about_us {
    text-align: center;
}

.glyphicon-thumbs-up {
    color: green;
    font-size: 60px;
    text-align: center;
}

.middle-side
{
    text-align: center;
}
.txt-height{
    min-height: 3em;
    max-height: 3em;
}
.team-icon{
    color:green;
    font-size: 40px;
}